{% extends "layout.html" %}
{% block content %}

<script type="text/javascript">
    
    
    var last = "";
    var lastCursor = 0;
    
    //the logical clock we use
    var lClock = 0;

    //the class used to store the transferred data
    Data = function(changedString,oldCursor,newCursor,lClock) {
        this.changedString = changedString;
        this.oldCursor = oldCursor;
        this.newCursor = newCursor;
        this.lClock = lClock;
    }

    getCaret = function(node) {
        if (node.selectionStart) {
            return node.selectionStart;
        } else if (!document.selection) {
            return 0;
        }
        var c = "\001",
        sel = document.selection.createRange(),
        dul = sel.duplicate(),
        len = 0;

        dul.moveToElementText(node);
        sel.text = c;
        len = dul.text.indexOf(c);
        sel.moveStart('character',-1);
        sel.text = "";
        return len;
    }



    put = function(node){
        var textarea = document.getElementById('text1');
        var currCursor = getCaret(node);
        cur = node.value;
        var changedString = null;
        if(lastCursor < currCursor){
           changedString = cur.substring(lastCursor,currCursor);
        }
        else{
           ;
        }

        data = new Data(changedString,lastCursor,currCursor,lClock);
        lClock++;

        last = cur;
        lastCursor = currCursor;

        return changedString;
    }

    //to update the text
    updateText = function(data){
        ret = JSON.parse(data);
        alert('111');
        $("#text1").text(ret.str + ret.lClock);
    }


    $(document).ready(function(){

        namespace = '/test'; // change to an empty string to use the global namespace

        // the socket.io documentation recommends sending an explicit package upon connection
        // this is specially important when using the global namespace
        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
        socket.on('connect', function() {
            socket.emit('my connect', {data: 'I\'m connected!'});
        });

        
        socket.on('my connect', function(msg) {
            $('#log1').append('<br>Received #' + msg.count + ': ' + msg.data);
        });
        
        
        // event handler for server sent data
        // the data is displayed in the "Received" section of the page
        socket.on('my change', function(msg) {
            $('#text1').val(msg.data);
        });
        
        $('textarea#text1').bind('input propertychange',function(){
            //var getData = put(document.getElementById('text1'));
            //alert("111");
            socket.emit('my log',{data:$('textarea#text1').val()});
            //return false;
        });

    });


</script>
<textarea rows = "20" cols = "50" id = 'text1' ></textarea>


<h2>Receive:</h2>
<div id = 'log1'></div>
{% endblock %}





















